default: &default
  adapter: mysql2
  encoding: utf8
  username: root
  password: 123
  host: 127.0.0.1
  port: 3306

development:
  <<: *default
  database: 

test:
  <<: *default
  database: 

production:
  <<: *default
  database: 
