<div class="nested-fields">
  <%= f.label :image %>
  <%= f.file_field :image %><br>
  <div class = "remove_image">
    <%= link_to_remove_association t("admin.product.remove images"), f, class: "btn btn-outline-danger"%>
  </div>
</div>
