@import "./admin/*";

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: $white_custom;
  -webkit-text-shadow: 0 1px 0 $white_custom;
  text-shadow: 0 1px 0 $white_custom;
  opacity: .8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  &:hover{
    color: $black_custom;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
  }
}

#error_explanation, .error_danger{
  display: none;
}

.toast-progress{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: $black_custom;
  opacity: 0.4;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  div{
    position: relative;
  }
}

.alert_mess{
  display: none;
}

.pagination{
  .page{
    a{
      padding: 0.375rem 0.75rem;
      position: relative;
      display: block;
      color: $blue_custom;
      background-color: $white_custom;
      border: 1px solid border;
      transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    }
  }
  .page.active{
    z-index: 3;
    color: $white_custom;
    background-color: $blue_custom;
    border-color: $blue_custom;
    padding: 0.375rem 0.75rem;
  }
  .page.disabled  {
    padding: 0.375rem 0.75rem;
    color: $silver_custom;
    pointer-events: none;
    background-color: $white_custom;
    border-color: border;
    border: 1px solid border;
  }
  .page.gap {
    padding: 0.375rem 0.75rem;
    color: $silver_custom;
    pointer-events: none;
    background-color: $white_custom;
    border-color: border;
    border: 1px solid border;
  }
}
