<div class="banner-bootom-w3-agileits">
  <div class="container">
    <div class="col-md-8 products-right">
      <div class="sort-grid">
        <div class="sorting">
          <h6>Sort By</h6>
          <select
            id="country1"
            onchange="change_country(this.value)"
            class="frm-field required sect"
          >
            <option value="null">Default</option>
            <option value="null">Name(A - Z)</option>
            <option value="null">Name(Z - A)</option>
            <option value="null">Price(High - Low)</option>
            <option value="null">Price(Low - High)</option>
            <option value="null">Model(A - Z)</option>
            <option value="null">Model(Z - A)</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <% if !@products.blank? %>
        <%= render @products %>
        <div class="clearfix"></div>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% else %>
        <h2 class="alert alert-danger"><%= t "static_pages.category_not_found" %></h2>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
