
<div class="card-body ">
  <h5 class="card-title"><%= t("admin.user.name") + user.name %></h5>
  <p class="card-text"><%= t("admin.user.phone") + user.phone %></p>
  <p class="card-text"><%= t("admin.user.email") + user.email %></p>
  <p class="card-text"><%= t("admin.user.addr") + user.address %></p>
</div>
