<% if !@products.blank? %>
  <div><p> <%= t("static_pages.search_result")+@name %></p></div>
  <%= render @products %>
    <div class="clearfix"></div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
  <h2 class="alert alert-danger">
    <%= t "static_pages.product_not_found" %>
  </h2>
<% end %>
