body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.product_cart {
  margin-bottom: 10px;
}

.col-lg-8 {
  background-color: white;
  display: inline-block;
}

.body-main-product {
  display: inline-block;
}

tr>th,
td {
  text-align: center;
}

.detail-order :hover {
  color: red;
  background-color: white;
}

.fa-trash :hover {
  color: red;
}

.product_cart {
  margin-bottom: 10px;
}

.col-lg-8-1 {
  background-color: white;
  display: inline-flex;
  margin-left: 5rem;
}

.body-main-product {
  display: inline-block;
}

tr>th,
td {
  text-align: center;
}

.detail-order :hover {
  color: red;
  background-color: white;
}

.fa-trash :hover {
  color: red;
}

.product_cart {
  margin-bottom: 10px;
}

.body-main-product {
  display: inline-block;
}

order-price {
  float: bottom;
  margin-left: 17rem;
}

#submit-order {
  float: right;
  margin: 1.5rem 0;
}

.total {
  margin: 2rem 0;
  font-size: 2rem;
  display: flex;
}

.table-cart {
  td {
    padding: 0 1.5rem 7px;
  }

  th {
    padding: 0 1.5rem 7px;
  }
}

.button-container {
  margin-left: auto;
  margin-top: -0.5rem;
}

.order-price {
  margin-left: 20rem;

}

.text-right-profile {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
  margin: 2rem;
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
